<% @page_title = "管理ページトップ" %>
<h1><%= @page_title %></h1>
<ul>
  <li><%= link_to  "アニメタイトル管理", :admin_animes %></li>
  <li><%= link_to  "掲示板管理", :admin_posts %></li>
  <li><%= link_to  "会員管理", :admin_members %></li>
</ul>

